@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "lemon-bold";
  src: url("./assets/fonts/lemon-bold.woff2") format("woff2"),
}

@font-face{
  font-family: "text-book";
  src: url("src/assets/PPNeueMontreal-Book.woff2") format("woff2"),
}

@font-face{
  font-family: "text-book-bold";
  src: url("src/assets/PPNeueMontreal-Bold.woff2") format("woff2"),
}

@font-face{
  font-family: "text-book-ultralight";
  src: url("src/assets/PPEditorialOld-Ultralight.woff2") format("woff2"),
}

.smooth-animate{
  transition: all 0.3s ease;
} 

*::-webkit-scrollbar {
  display: none;
  
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html{
  background-image: url("./assets/static-bg.webp");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* bg contain */
  background-size: cover;
  background-color: #000;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lemon-bold {
  font-family: "lemon-bold",sans-serif;
}

.text-book {
  font-family: "text-book",sans-serif;
}

.text-book-bold{
  font-family: "text-book-bold",sans-serif;
}

.text-book-ultralight{
  font-family: "text-book-ultralight",sans-serif;
}

.uppercase{
  text-transform: uppercase;
}

.text-outline{
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.service-card{
  transform-origin: bottom;
}